
.logoNav {
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
}

nav{
  background-color: $colorPrincipal;
}

.botonCarrito{
  width: 5rem;
  border-radius: 100px;
}

.colorFondoCarritoLLeno{
  background-color: $colorCarritoLLeno;
  border-color: $colorCarritoLLeno;
}

svg{
  color: white;
}

.barraSecundariaNav{
  background-color: $colorBarras;
}

.navSecundaria{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

.nav-item{
  margin-right: 1.2rem;
}

.nav-link{
  font-family: 'Nunito', sans-serif;
}
