@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.logoNav {
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
}

nav{
  background-color: #062C30;
}

.barraSecundariaNav{
  background-color: #F5F5F5;
}

.navSecundaria{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

.navSecundaria .nav-item{
  margin-right: 1.2rem;
}

.nav-link{
  font-family: 'Nunito', sans-serif;
}
