@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

$colorPrincipal: #062C30;
$colorCarritoLLeno: #B33030;

.logoNav {
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
}

nav{
  background-color: $colorPrincipal;
}

.botonCarrito{
  width: 5rem;
  border-radius: 100px;
}

.colorFondoCarritoLLeno{
  background-color: $colorCarritoLLeno;
  border-color: $colorCarritoLLeno;
}

svg{
  color: white;
}

.barraSecundariaNav{
  background-color: #F5F5F5;
}

.navSecundaria{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

.navSecundaria .nav-item{
  margin-right: 1.2rem;
}

.nav-link{
  font-family: 'Nunito', sans-serif;
}
