.barraLateral{
  list-style: none;
}

.botonesCategorias, .botonesMarcas{
  cursor: pointer;
}

.botonesCategorias:hover, .botonesMarcas:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 991px) {
  .esconderBarraDsiplayPequenio{
    display: none;
  }
}
